.footer {
    font-family: 'Sigmar', cursive;
    font-size: 20px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin: 0 auto;
    flex-direction: column;
}

.footer img {
    width: 50px;
    padding: 0px;
    display: flex;
}

.footer :hover {
    transform: scale(1.1);
}

.footer-social {
    display: flex;
    gap: 3rem;
}

p {
    padding-top: 10px;
}